$darkpink: #33292D;
$darkpinkgrey: #85717A;
$pinkgrey: #D7B9C6;
$empink: #f8c0d8;
$emgreen: #9FE2BF;
$greengrey: #CEDDD3;
$darkgreengrey: #BBC9C0;
$darkgreen: #2F3531;

// washed-out palette
$palepink: #ffdedc;
$pink: #f1b5b5;
$grey: #93939b;
$ashgrey: #aab7ae;
$lightgrey: #C6D2C6;
$alabaster: #DFE2DB;